.navbar {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    
  }

  .xyz{
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  .blueBtn{
    background: rgba(15, 140, 236, 0.979);
    color: white !important;
    padding: 8px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 100px;
    font-weight: bold;
    
  }
  
  .logo a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  

